<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="HS\GeoipRedirect\Controller\Adminhtml\System\Config\Database\Status">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Auth\Session</argument>
        </arguments>
    </type>
</config>
